<div class="background-all-screen">
  <h1>Posts</h1>

  <%= link_to "投稿する", new_post_path %>

  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <%= post.body %>
        </p>
      </div>
    </div>
  <% end %>
</div>
