// Sassy

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

//============================================
// Colors
//============================================
$colors: (
    primary: #98b1e9,
    header-text-primary: #737373,
    text-secondary: #999999
);

@function colors($key) {
  @return map-get($colors, $key)
}
